body{
    background-color: #000000;
    color: #fff;
    font-family: Calibri;
    font-size: 17px;
    background-image: url(../img/bgg.png);
    background-size: cover ;
    background-position: 0px 140px;
}
.pad0{padding: 0px !important;}
.fs15{font-size: 15px}
.fs13{font-size: 13px}
h1,h2{
    font-size: 18px;
    margin: 15px 5px;
}
.header{
    padding: 5px 0px;
    text-align: center;
   background-color: #2e3c50;
    border-bottom: 5px solid #223345;
    -webkit-box-shadow: inset 0px -10px 30px 0px rgba(69,95,126,.5);
    -moz-box-shadow: inset 0px -10px 30px 0px rgba(69,95,126,.5);
    box-shadow: inset 0px -10px 30px 0px rgba(69,95,126,.5);

}
.stats{
    -webkit-box-shadow: inset 0px 5px 20px 0px rgba(8, 12, 16, 0.4);
    -moz-box-shadow: inset 0px 5px 20px 0px rgba(8, 12, 16, 0.4);
    box-shadow: inset 0px 5px 20px 0px rgba(8, 12, 16, 0.4);
    padding: 10px 3px;
    background-color: #59616c;
    border-bottom: 2px solid #394a60;
}
.stats_bl div:first-child{
    padding: 2px 10px;
    margin: 2px 0px;
    border-radius: 3px;
    font-size: 14px;
    background-color: #1f385e;
    border-bottom:2px solid #11192f;
    text-align: left;
    -webkit-box-shadow: inset 0px -5px 10px 0px rgba(8, 12, 16, 0.2);
    -moz-box-shadow: inset 0px -5px 10px 0px rgba(8, 12, 16, 0.2);
    box-shadow: inset 0px -5px 10px 0px rgba(8, 12, 16, 0.2);

}

.gold{
    background-image: url("../img/gold.png");
    left: 70%;
    top: -8px;
    width: 50px;
    height: 40px;
}

.prob{
    background-image: url("../img/prob.png");
    left: 75%;
    top: -7px;
    width: 30px;
    height: 32px;
    transform: rotate(-27deg);
}

.stat_img{

    background-size: cover;
    position: absolute;
    z-index: 10;


}